
body {
    font-family: Verdana, sans-serif;
    margin: 0px;
}

#main {
    background-image: linear-gradient(#00AEAE, white, white, white);
    font-size: 16px;
    @media screen and (min-width: 700px) {
        font-size: 16px;
    }
}

.banner {
    font-family: 'Courier New', Courier, monospace;
    h2 {
        font-size: 50px;
        margin: 0;
        padding: 20px;
    }
}

#nav-bar {

    color: white;
    background-color: black;
    width: 100%;
    height: 35px;

    .items {
        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0;
        text-decoration: none;
        color: white;
    }

    
    .items:hover {
        background-color: lightblue;
        color: black;
    }
}


.intro_picture {
    img {
        width: 100%;
        position: relative;
    }
}

.content-box {
    .content {
        border: 2px solid #00AEAE;
        border-radius: 3px;
        padding: 2%
    }
    
}


.center-max-1200 {
    width: 70%;
    margin: 0 15%;

    max-width: 1200px;
    @media screen and (min-width: 1025px) {
        width: 50%;
        margin: 0 25%;
    }
}

.inline-display {
    display: inline-block;

    .left-50 {
        float: left;
        width: 50%;
    }

    .right-50 {
        width: 50%;
        float: right;
    }

    .left-50-image {
        text-align: center;
    }

    .right-50-image {
        text-align: center;
    }

    .image-100 {
        width: 50%;
    }

    P {
        padding: 0 2%;
    }
}

.margin-top-50 {
    margin-top: 50px;
}


.facts {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
}

.hotels-ad {
    float: right;
    position: absolute;
    right: 0;
    width: 15%;
    top: 200px;

    @media screen and (min-width: 1025px) {
        width: 25%;
    }
}

.input-content {
    input {
        min-width: 380px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th,td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.screen {
    font-weight: bold;
    background-color: #e0f2f1;
}